.Navbar {
  margin-top: auto;
  background-color: #344CB7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.Logo {
  height: 100px;
  margin-bottom: -55px;
  margin-top: -50px;
  margin-left: -30px;

}

.Navbar_toggler {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: none;
}

.Navbar_toggler .Icono_bar{
  font-size: 20px;
  color: azure;
}

.Navbar_collapse {
  margin-right: -10px;
}

.Navbar_nav {
  display: flex;
  list-style: none;
}

.Nav_item {
  position: relative;
}

.Nav_item a {
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  display: inline-block;
}

.Nav_item.active a {
  color: #ff9800;
}

.Hori_selector {
  position: absolute;
  background: #ff9800;
  height: 4px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

/* Responsive */
@media (max-width: 768px) {
  .Navbar_toggler {
    display: block;
  }

  .Navbar_collapse {
    display: none;
    flex-direction: column;
  }

  .Navbar_nav {
    flex-direction: column;
  }

  .Nav_item {
    width: 100%;
    text-align: center;
  }

  .Navbar_collapse.show {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #2d3f92;
    margin-top: 234px;
    margin-left: -32px;
  }
}