.Navbar {
  margin-top: auto;
  background-color: #4c45aa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 42px;
  position: fixed;
  width: 100%;
}

.Logo {
  height: 200px;
  margin-bottom: -55px;
  margin-top: -50px;
  margin-left: -40px;
}

.Navbar_toggler {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: none;
}

.Navbar_toggler .Icono_bar{
  font-size: 20px;
  color: azure;
}

.Navbar_collapse {
  margin-right: 50px;
}

.Navbar_nav {
  display: flex;
  list-style: none;
}

.Nav_item {
  position: relative;
}

.Nav_item a {
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  display: inline-block;
}

.Nav_item.active a {
  color: #80C4E9;
  font-size: 18px;
  transition: .4s ease;
}

.Nav_icon{
  color: white;
  padding-left: 10px;
}
.Nav_icon.active{
  color: #80C4E9;
  font-size: 18px;
  transition: .4s ease;
}

.Hori_selector {
  position: absolute;
  background: #80C4E9;
  height:4px;
  border-radius: 8px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.Header_background{
  background-image: url(https://images2.alphacoders.com/137/thumb-1920-1372963.png);
  background-color: #2d3f92;
  background-size: cover;
  height: 100vh;
}

/* Responsive */
@media (max-width: 768px) {
  .Navbar{
    width: 92%;
  }

  .Navbar_toggler {
    display: block;
  }

  .Navbar_collapse {
    display: none;
    flex-direction: column;
    
  }

  .Navbar_nav {
    flex-direction: column;
  }

  .Nav_item {
    width: 100%;
    text-align: center;
  }

  .Navbar_collapse.show {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #2d3f92;
    margin-top: 234px;
    margin-left: -32px;
  }
}