@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root{
  font-family: "Lora", serif;
}
*{
  margin:0;
  padding:0;
}
body {
  background-color: rgb(182, 188, 210);
  font-family: "Lora", serif;
}
p {
  color:black;
 
}