.content {
  position: absolute;
  top: 75%;
  left: 42rem;
  transform: translate(-50%, -50%);
  background: #534da593;
  color: #dbf2ff;
  padding: 0px;
  border-radius: 10px;
  max-width: 50%;
  padding: 10px;
  z-index: 2;
}

.title {
  margin: 0 0 10px;
  font-size: 40px;
  padding-bottom: 15px;
}

.description {
 color: azure;
 font-size: 22px;
 padding-bottom: 25px;
}

.read-more {
  background-color: #b8b4ee00;
  border-color: #b8e3fa;
  border-width: 3px;
  padding: 10px 20px;
  color: #b8e3fa;
  cursor: pointer;
  font-size: 20px;
  padding-top: 10px;
  border-radius: 6px;
  border-style: solid;
}

.read-more:hover {
  background-color: #b8e3fa;
  padding: 10px 20px;
  color: #4c45aa;
  cursor: pointer;
  font-size: 20px;
  padding-top: 10px;
  border-radius: 6px;
  transition: 0.5s;
}

.navigation {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 20px;
}

.nav-btn-l {
  background: rgba(77, 13, 63, 0.27);
  border: none;
  color: azure;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.nav-btn-r {
  background: rgba(77, 13, 63, 0.27);
  border: none;
  color: azure;
  font-size: 20px;
  padding: 10px;
  margin-right: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  margin-top: 62px;
  height: 45rem; 
}

.slider {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.414); /* Oscurece solo la imagen */
  z-index: 1;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}
@media (max-width: 768px) {

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #534da5dc;
    color: #dbf2ff;
    padding: 0px;
    border-radius: 10px;
    padding: 10px;
    z-index: 2;
  }

  .description {
    text-align: justify;
  }

  .read-more {
    background-color: #b8b4ee00;
    border-color: #b8e3fa;
    border-width: 3px;
    padding: 10px 20px;
    color: #b8e3fa;
    cursor: pointer;
    font-size: 20px;
    padding-top: 1;
    border-radius: 6px;
    border-style: solid;
    margin-left: 25%;
  }

  .read-more:hover {
    background-color: #b8e3fa;
    padding: 10px 20px;
    color: #4c45aa;
    cursor: pointer;
    font-size: 20px;
    padding-top: 10px;
    border-radius: 6px;
    transition: 0.5s;
  }
}
